<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Descripción de Español 3350</title>
<link href="../3350.css" rel="stylesheet" type="text/css" />
<link href="../print.css" rel="stylesheet" type="text/css" media="print" />
<!--[if lte IE 6]>
<link href="../styleie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body class="mainpage">
<div id="container">
<div id="bannerleft">
<div id="bannerleftinfo"><a href="../index.html">Español 3350</a></div>
</div>
<div id="banneright"><img src="../images/headerright.gif" /></div>
<div id="bannercenter"><img src="../images/bannerpictures.jpg" /></div>
<div id="bannerhigh">
  <div id="bannerhighleft"></div>
  <div id="bannerhighright">Descripción de Español 3350</div>
</div>
<div id="wrapper">
<div id="inner">
     <div id="menu">
     <ul>
    <li><a href="descripcion.html">Descripción</a></li>
    <li><a href="programaspring2011.html">Programa</a></li>
    <li><a href="capitulos.html">Capítulos</a></li>
    <li><a href="composiciones.html">Composiciones</a></li>  </ul>
	<div align="center"><img src="../images/imagecolumnevita.jpg" width="130" height="150" /></div>
	</div>
    <div id="content">
         <h1>Espa&ntilde;ol 3350<br />
Course Description and Objectives</h1>
         <p>Welcome to Spanish 3350!</p>
         <p>The objective of Spanish 3350 is to provide students with the historical and cultural  background necessary for the study of  Hispanic cultures in the context of modernity. During the semester we will study the Enlightenment as ideology and practice in Spain and Spanish America, the Napoleonic invasion of Spain, the wars of independence  and the creation of new nations in the nineteenth century in Latin America, the fin-de-si&egrave;cle and the cultural avant-gardes, the wars and revolutions of the twentieth century—the Spanish Civil War, the Mexican Revolution, and the Cuban Revolution—and the Hispanic presence in the United States. The overarching purpose of the course is to prepare students to do advanced  work in later courses on the cultures of Spain and Spanish America.</p>
         <h2> I. Preparation and Participation (20%)</h2>
         <p>Your participation grade is based on your demonstration that you have read, prepared and reflected on the materials assigned. Spanish 3350 is an intensive course that  requires that you work diligently throughout the semester and that you keep up with the work assigned. <strong>During the semester you will be asked by your instructor to prepare to lead the discussion of one of the readings to be discussed  in class.</strong></p>
         <h2>II. Written Exercises (30%) </h2>
         <p>Over the course of the semester you will be expected to hand in seven short compositions. Your instructor will inform you about the nature of these exercises. You will receive corrections and suggestions from your instructor, and <strong>for the first three compositions you will hand in a revised version  that takes into account those corrections.</strong> Your compositions will be  graded on content and grammar, and your final grade for the assignment  will be the average between your first version and the revised one  (where there is one). All compositions must be typewritten and double-spaced, and should consist of at least 300 words.  Each composition must be turned in  on the assigned date. A late composition will result in the lowering of the grade for that exercise.</p>
         <p> Please check the menu item &quot;<a href="composiciones.html">Composiciones</a>&quot; for  detailed information regarding your written assignments. Pay special attention to the <a href="../../../common/redaccion/expectations.html">level
             of responsibility and care that you will be expected to show in
         your work</a>. You will find there also a great deal of advice, reference materials, and help regarding both the process and the mechanics of writing in Spanish, as well as,  for instance, instructions on how to produce accented as well as other special characters in Spanish (e.g. &iexcl;, &iquest;, &ordm;, &ordf;, &ntilde;, &aacute;, &eacute;, &iacute;, &oacute;, &uacute;) from your Apple or PC. You should visit this page as often as necessary.</p>
<h2>III. Exams (50%)</h2>
         <p>There will be three exams that will test your knowledge of historical events, persons, concepts,  images, chronologies, etc. that have been studied in class. Lists of the terms that may appear on the exams have been posted for each chapter under the rubric &quot;T&eacute;rminos fundamentales.&quot; No make-up exams will be given. Please note the dates of all exams before making travel plans. The exams will consist of a mix of the following sections:</p>
         <blockquote>
              <p>1. identification of important terms, characters, events, etc.</p>
              <p>2. ordering  of events in the correct chronological order  (e.g., which happened first,  Picasso's painting of &quot;Guernica&quot; or World War II?) </p>
              <p>3. identification of short quotations taken from class readings</p>
              <p>4. short essay questions</p>
         </blockquote>
         <h2>IV. Tools for Learning</h2>
         <blockquote>
              <p><strong>1. Your instructor</strong></p>
              <p>One of your best resources for Espa&ntilde;ol 3350 is your instructor. Develop a close working relationship with him or her early in the semester. Feel free to consult with him or her during office hours or through electronic mail.</p>
              <p>Every unit in the course is accompanied by a large number of possible readings and activities related to it. For each chapter your instructor will choose and assign to you among the readings available the ones that he or she thinks  offer the best grasp of the major topics and problems dealt with in the unit. Hence, it is very important that you note and follow your instructor's specific instructions regarding reading assignments.</p>
              <p><strong>2. Your classmates</strong></p>
              <p>You will find it very helpful to share and discuss ideas with your classmates outside of class and to form study groups for the exams. You may also be asked to work on assignments with another student.</p>
              <p><strong>3. CourseWorks</strong></p>
              <p>This CourseWorks site is the main portal for Espa&ntilde;ol 3350. In addition to essential information about the course itself, all  content  pertaining to it is accessible here. This material includes:</p>
              <p>—  descriptions of the significant historical periods from the Enlightenment to our time, presented as chapters  with hyperlinks to significant events, characters, periods, and movements</p>
              <p> — texts and documents that supplement the historical accounts</p>
              <p>— a list of essential events, terms, characters, etc. that you should know</p>
              <p>CourseWorks will also be a key  tool for communicating during the semester. Your instructor will often send notifications of events and important announcements about the course through it. Please make a habit of checking this site daily.</p>
              <p><strong>4. A dictionary</strong></p>
              <p>You have now reached a level in your Spanish studies when you
                   should invest in good tools to assist you in your
                   reading and writing. You may
                   want to  consider purchasing a dictionary
                   entirely in Spanish such as the <a href="http://www.amazon.com/EL-Pequeno-Larousse-Ilustrado-2007/dp/9702214289/sr=1-1/qid=1168941319/ref=pd_bbs_sr_1/104-0885311-6597552?ie=UTF8&amp;s=books">Peque&ntilde;o
                   Larousse Ilustrado</a> or the <a href="http://www.amazon.com/Diccionario-Real-Academia-Espanola-Set/dp/8423968146/sr=1-1/qid=1168941424/ref=pd_bbs_sr_1/104-0885311-6597552?ie=UTF8&amp;s=books">Diccionario
                   de la Real Academia Espa&ntilde;ola</a>. The <a href="http://www.rae.es">RAE
                   dictionary</a>                   and several
                   <a href="../../../common/redaccion/diccionarios.html">several
                   others are available on the Web</a>.</p>
         </blockquote>
         <h2>V. An Important Note on Absences</h2>
         <p>You are expected to attend all classes throughout the semester.</p>
         <p>The Department of Latin American and Iberian Cultures has an across-the-board
              policy on class absences. Students enrolled in courses that meet <strong>three
              times a week </strong>who have four (4) unexcused absences or more
              will see their final grade reduced by one full letter grade. Students
              enrolled in courses that meet<strong> two times a week </strong>who
              have three (3) unexcused absences or more will see their final
              grade reduced by one letter grade.  In courses that meet only <strong>once
              a week </strong>two (2) unexcused absences will lead to a grade
              reduction of one letter grade.</p>
         <p>An excused absence is an absence due to a religious holiday or one
              for which you can provide some form of written justification from
              a physician or dean.  You should not interpret this policy as entitling
              you to a given number of free absences from class.  You should
              see it as a hedge against illness and other unforeseen circumstances that may make it impossible
              for you to attend class.</p>
         <h2>VI. Academic Integrity</h2>
         <p>The Department of Latin American and Iberian Cultures fully supports and adheres
              to all Columbia University policies and procedures regarding academic
              dishonesty (plagiarism, fabrication, cheating, etc.). The work
              you submit in this class is expected to be your own. If you submit
              work that has been copied from any published or unpublished source
              (including the Internet) without attribution, or that has been
              prepared by someone other than you, or that in any way misrepresents
              somebody else's work as your own, you will face disciplining by
              the university.</p>
         <p>It is expected that all students abide by the university's <a href="http://www.college.columbia.edu/facultyadmin/academicintegrity">Code
                   of Academic Integrity</a> and refrain from any activity constitutive
                   of academic dishonesty as defined therein. For additional
                   information, please see the section on academic integrity
                   in the <a href="http://www.college.columbia.edu/bulletin/universitypolicies.php">College
                   and University Policies</a> section of the on-line Bulletin,
                   or consult your instructor in the event of any uncertainty
                   on your part about what may constitute academic dishonesty.</p>
    </div>       
</div><br class="clearit" />   
</div>
<div id="footer"><div id="footerleft"><a href="../index.html">Español 3350</a></div>
<div id="footerright">Descripción de Español 3350</div>
</div>
</div>
</body>
</html>