<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Programa de Español 3349</title>
<link href="../3349.css" rel="stylesheet" type="text/css" />
<link href="../print.css" rel="stylesheet" type="text/css" media="print" />
<!--[if lte IE 6]>
<link href="../styleie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body class="mainpage">
<div id="container">
  <div id="bannerleft">
    <div id="bannerleftinfo"><a href="../index.html">Español 3349</a></div>
  </div>
  <div id="banneright"><img src="../images/headerright.gif" /></div>
  <div id="bannercenter"><img src="../images/bannerpictures.jpg" /></div>
  <div id="bannerhigh">
    <div id="bannerhighleft"></div>
    <div id="bannerhighright">Programa de Español 3349</div>
  </div>
  <div id="wrapper">
    <div id="menu">
      <ul>
        <li><a href="descripcion.html">Descripción</a></li>
        <li><a href="programa.html">Programa</a></li>
        <li><a href="capitulos.html">Capítulos</a></li>
        <li><a href="composiciones.html">Composiciones</a></li>
      </ul>
      <div align="center"><img src="../images/imagecolumncol.jpg" /></div>
    </div>
    <div id="content">
      <table width="598" border="1">
        <tr>
          <td width="291" valign="top"><h1 align="center">Espa&ntilde;ol 3349<br />
              Spring 2012<br />
              Programa de lecturas y tareas<br />
              <font color="#000000">Clases que se re&uacute;nen<br />
              </font><font color="#000000">los lunes y los mi&eacute;rcoles</font></h1>
            <p align="center">&nbsp;</p>
            <h2 class="centered">enero</h2>
            <h2>mi&eacute;rcoles 18</h2>
            <p>1. <a href="descripcion.html">Descripci&oacute;n del curso: requisitos, objetivos y evaluaci&oacute;n</a></p>
            <p>2. <a href="../introduccion/introduccion.html">Introducci&oacute;n: la historia</a></p>
            <p>3. <a href="../introduccion/advertencia.html">Advertencia general sobre los materiales que se estudiar&aacute;n en este curso</a></p>
            <p></p>
            <h2>lunes 23</h2>
            <p><strong>1. Iberia  antes del siglo VIII</strong></p>
            <p> Cap&iacute;tulo 1, <a href="../01hispania/contexto.html">Contexto hist&oacute;rico</a></p>
            <h2>mi&eacute;rcoles 25 </h2>
            <p>Cap&iacute;tulo 1, <a href="../01hispania/lecturas.html">Lecturas</a></p>
            <p>&nbsp;</p>
            <h2>lunes 30</h2>
            <p>Cap&iacute;tulo 1, <a href="../01hispania/lecturas.html">Lecturas</a></p>
            <p><em>Entregar composici&oacute;n 1</em></p>
            <h2 class="centered">febrero</h2>
            <h2>mi&eacute;rcoles 1</h2>
            <p><strong>2. Al-Andalus y la hegemon&iacute;a musulmana en la Pen&iacute;nsula</strong></p>
            <p>Cap&iacute;tulo 2, <a href="../02alandalus/contexto.html">Contexto hist&oacute;rico</a></p>
            <p>&nbsp;</p>
            <h2>lunes 6</h2>
            <p>Cap&iacute;tulo 2, <a href="../02alandalus/lecturas.html">Lecturas</a></p>
            <h2>mi&eacute;rcoles 8</h2>
            <p>Cap&iacute;tulo 2,<a href="../02alandalus/lecturas.html"> Lecturas</a></p>
            <p><em>Entregar composici&oacute;n 2</em></p>
            <p>&nbsp;</p>
            <h2>lunes 13</h2>
            <p><strong>**PRIMER EXAMEN</strong>**</p>
            <h2>mi&eacute;rcoles 15</h2>
            <p><strong>3.</strong> <strong>La hegemon&iacute;a cristiana en la Pen&iacute;nsula</strong></p>
            <p>Cap&iacute;tulo 3, <a href="../03edadmedia/contexto.html">Contexto hist&oacute;rico</a></p>
            <p>&nbsp;</p>
            <h2>lunes 20</h2>
            <p>Cap&iacute;tulo 3, <a href="../03edadmedia/lecturas.html">Lecturas</a></p>
            <h2>mi&eacute;rcoles 22</h2>
            <p>Cap&iacute;tulo 3, <a href="../03edadmedia/lecturas.html">Lecturas</a></p>
            <p>&nbsp;</p>
            <h2>lunes 27</h2>
            <p>Cap&iacute;tulo 3, <a href="../03edadmedia/lecturas.html">Lecturas</a></p>
            <p><em>Entregar composici&oacute;n 3</em></p>
            <h2 class="centered">marzo</h2>
            <h2>mi&eacute;rcoles 29</h2>
            <p><strong>4. Culturas amerindias: mayas, mexicas, incas</strong></p>
            <p>Cap&iacute;tulo 4, <a href="../04precolombinas/contexto.html">Contexto hist&oacute;rico</a></p>
            <p>&nbsp;</p>
            <h2>lunes 5</h2>
            <p>Cap&iacute;tulo 4, <a href="../04precolombinas/lecturas.html">Lecturas</a></p>
            <h2>mi&eacute;rcoles 7</h2>
            <p>Cap&iacute;tulo 4, <a href="../04precolombinas/lecturas.html">Lecturas</a></p>
            <p><em>Entregar composici&oacute;n 4</em></p>
            <p>&nbsp;</p>
            <h2>Vacaciones (12-16 de marzo)</h2>
            <h2>&nbsp;</h2>
            <h2>lunes 19</h2>
            <p><strong>5. Conquista y colonizaci&oacute;n</strong></p>
            <p>Cap&iacute;tulo 5, <a href="../05conquista/contexto.html">Contexto hist&oacute;rico</a></p>
            <h2>mi&eacute;rcoles 21</h2>
            <p>Cap&iacute;tulo 5, <a href="../05conquista/lecturas.html">Lecturas</a></p>
            <p>&nbsp;</p>
            <h2>lunes 26</h2>
            <p>Cap&iacute;tulo 5, <a href="../05conquista/lecturas.html">Lecturas</a></p>
            
            <h2>mi&eacute;rcoles 28</h2>
            <p>Cap&iacute;tulo 5, <a href="../05conquista/lecturas.html">Lecturas</a></p>
            <p><em>Entregar composici&oacute;n 5</em></p>
            <p>&nbsp;</p>
            <h2 class="centered">abril</h2>
            <h2>lunes 4</h2>
            <p><strong>**SEGUNDO EXAMEN**</strong></p>
            <p></p>
            <h2>mi&eacute;rcoles 6</h2>
            <p><strong>6. El auge de un imperio global (siglo XVI)</strong></p>
            <p>Cap&iacute;tulo 6 <a href="../06augeimperio/contexto.html">Contexto hist&oacute;rico</a></p>
            <p>&nbsp;</p>
            <h2>lunes 9</h2>
            <p>Cap&iacute;tulo 6 <a href="../06augeimperio/lecturas.html">Lecturas</a></p>
            <h2>mi&eacute;rcoles 11</h2>
            <p>Cap&iacute;tulo 6 <a href="../06augeimperio/lecturas.html">Lecturas</a></p>
            <p>&nbsp;</p>
            <h2>lunes 16</h2>
            <p>Cap&iacute;tulo 6 <a href="../06augeimperio/lecturas.html">Lecturas</a></p>
            <p><em>Entregar composici&oacute;n 6</em></p>
            <h2>mi&eacute;rcoles 18</h2>
            <p><strong>7. El Imperio en crisis (siglo XVII)</strong> </p>
            <p>Cap&iacute;tulo 7 <a href="../07crisisimperio/contexto.html">Contexto hist&oacute;rico</a></p>
            <p>&nbsp;</p>
            <h2>lunes 23</h2>
            <p>Cap&iacute;tulo 7 <a href="../07crisisimperio/lecturas.html">Lecturas</a></p>
            <h2>mi&eacute;rcoles 25</h2>
            <p>Cap&iacute;tulo 7 <a href="../07crisisimperio/lecturas.html">Lecturas</a></p>
            <p>&nbsp;</p>
            <h2 class="centered">mayo</h2>
            <h2>lunes 30</h2>
            <p>Cap&iacute;tulo 7 <a href="../07crisisimperio/lecturas.html">Lecturas</a></p>
            <p>&Uacute;ltimo d&iacute;a de clases</p>
            <p><em>Entregar composici&oacute;n 7</em></p>
            <p><strong>**TERCER EXAMEN**</strong></p>
          </td>
          <td width="291" valign="top"><h1 align="center">Espa&ntilde;ol 3349<br />
              Spring 2012<br />
              Programa de lecturas y tareas<br />
              <font color="#000000">Clases que se re&uacute;nen<br />
              </font><font color="#000000">los martes y los jueves</font></h1>
            <p align="center">&nbsp;</p>
            <h2 class="centered">enero</h2>
            <h2>martes 17</h2>
            <p>1. <a href="descripcion.html">Descripci&oacute;n del curso: requisitos, objetivos y evaluaci&oacute;n</a></p>
            <p>2. <a href="../introduccion/introduccion.html">Introducci&oacute;n: la historia</a></p>
            <p>3. <a href="../introduccion/advertencia.html">Advertencia general sobre los materiales que se estudiar&aacute;n en  este curso</a></p>
            <h2>jueves 19</h2>
            <p><strong>1. Iberia  antes del siglo VIII</strong></p>
            <p>Cap&iacute;tulo 1, <a href="../01hispania/contexto.html">Contexto hist&oacute;rico</a></p>
            <p>&nbsp;</p>
            <h2>martes 24</h2>
            <p>Cap&iacute;tulo 1, <a href="../01hispania/lecturas.html">Lecturas</a></p>
            <h2>jueves 26</h2>
            <p>Cap&iacute;tulo 1, <a href="../01hispania/lecturas.html">Lecturas</a></p>
            <p><em>Entregar composici&oacute;n 1</em></p>
            <p>&nbsp;</p>
            <h2 class="centered">febrero</h2>
            <h2>martes 31</h2>
            <p><strong>2. Al-Andalus y la hegemon&iacute;a musulmana en la Pen&iacute;nsula</strong></p>
            <p>Cap&iacute;tulo 2, <a href="../02alandalus/contexto.html">Contexto hist&oacute;rico</a></p>
            <h2>jueves 2</h2>
            <p>Cap&iacute;tulo 2,<a href="../02alandalus/lecturas.html"> Lecturas</a></p>
            <p>&nbsp;</p>
            <h2>martes 7</h2>
            <p>Cap&iacute;tulo 2, <a href="../02alandalus/lecturas.html">Lecturas</a></p>
            <p><em>Entregar composici&oacute;n 2</em></p>
            <p></p>
            <h2>jueves 9</h2>
            <p><strong>**PRIMER EXAMEN</strong>**</p>
            <p>&nbsp;</p>
            <h2>martes 154</h2>
            <p><strong>3.</strong> <strong>La hegemon&iacute;a cristiana en la Pen&iacute;nsula</strong></p>
            <p> Cap&iacute;tulo 3, <a href="../03edadmedia/contexto.html">Contexto hist&oacute;rico</a></p>
            <h2>jueves 16</h2>
            <p>Cap&iacute;tulo 3, <a href="../03edadmedia/lecturas.html">Lecturas</a></p>
            <p>&nbsp;</p>
            <h2>martes 21</h2>
            <p>Cap&iacute;tulo 3, <a href="../03edadmedia/lecturas.html">Lecturas</a></p>
            <h2>jueves 23</h2>
            <p>Cap&iacute;tulo 3, <a href="../03edadmedia/lecturas.html">Lecturas</a></p>
            <p><em>Entregar composici&oacute;n 3</em></p>
            <p>&nbsp;</p>
            <h2 class="centered">marzo</h2>
            <h2>martes 28</h2>
            <p><strong>4. Culturas amerindias: mayas, mexicas, incas</strong></p>
            <p>Cap&iacute;tulo 4, <a href="../04precolombinas/contexto.html">Contexto hist&oacute;rico</a></p>
            <h2>jueves 1</h2>
            <p>Cap&iacute;tulo 4, <a href="../04precolombinas/lecturas.html">Lecturas</a></p>
            <p>&nbsp;</p>
            <h2>martes 6</h2>
            <p>Cap&iacute;tulo 4, <a href="../04precolombinas/lecturas.html">Lecturas</a></p>
            <p><em>Entregar composici&oacute;n 4</em></p>
            <h2>jueves 8</h2>
            <p><strong>5. Conquista y colonizaci&oacute;n</strong></p>
            <p>Cap&iacute;tulo 5, <a href="../05conquista/contexto.html">Contexto hist&oacute;rico</a></p>
            <p>&nbsp;</p>
            <h2>Vacaciones (12-16 de marzo)</h2>
            <p>&nbsp;</p>
            <h2>martes 20</h2>
            <p>Cap&iacute;tulo 5, <a href="../05conquista/lecturas.html">Lecturas</a></p>
            <h2>jueves 22</h2>
            <p>Cap&iacute;tulo 5, <a href="../05conquista/lecturas.html">Lecturas</a></p>
            <p>&nbsp;</p>
            <h2>martes 27</h2>
            <p>Cap&iacute;tulo 5, <a href="../05conquista/lecturas.html">Lecturas</a></p>
            <p><em>Entregar composici&oacute;n 5</em></p>
            <h2>jueves 29</h2>
            <p><strong>**SEGUNDO EXAMEN**</strong></p>
            <p>&nbsp;</p>
            <p></p>
            <h2 class="centered">abril</h2>
            <h2>martes 3</h2>
            <p><strong>6. El auge de un imperio global (siglo XVI)</strong></p>
            <p>Cap&iacute;tulo 6 <a href="../06augeimperio/contexto.html">Contexto hist&oacute;rico</a></p>
            <h2>jueves 7</h2>
            <p>Cap&iacute;tulo 6 <a href="../06augeimperio/lecturas.html">Lecturas</a></p>
            <p>&nbsp;</p>
            <h2>martes 10</h2>
            <p>Cap&iacute;tulo 6 <a href="../06augeimperio/lecturas.html">Lecturas</a></p>
            <h2>jueves 12</h2>
            <p>Cap&iacute;tulo 6 <a href="../06augeimperio/lecturas.html">Lecturas</a></p>
            <p><em>Entregar composici&oacute;n 6</em></p>
            <p>&nbsp;</p>
            <h2>martes 17</h2>
            <p><strong>7. El Imperio en crisis (siglo XVII)</strong> </p>
            <p>Cap&iacute;tulo 7 <a href="../07crisisimperio/contexto.html">Contexto hist&oacute;rico</a></p>
            <h2>jueves 19</h2>
            <p>Cap&iacute;tulo 7 <a href="../07crisisimperio/lecturas.html">Lecturas</a></p>
            <p>&nbsp;</p>
            <h2>martes 24</h2>
            <p>Cap&iacute;tulo 7 <a href="../07crisisimperio/lecturas.html">Lecturas</a></p>
            <h2>jueves 26</h2>
            <p>Cap&iacute;tulo 7 <a href="../07crisisimperio/lecturas.html">Lecturas</a></p>
            <p>&Uacute;ltimo d&iacute;a de clases</p>
            <p><em>Entregar composici&oacute;n 7</em></p>
            <p><strong>**TERCER EXAMEN**</strong></p>
          <p>&nbsp;</p></td>
        </tr>
      </table>
    </div>
    <br class="clearit" />
  </div>
  <div id="footer">
    <div id="footerleft"><a href="../index.html">Español 3349</a></div>
    <div id="footerright">Programa de Español 3349</div>
  </div>
</div>
</body>
</html>
