<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Programa de Español 3349</title>
    <link href="../3349.css" rel="stylesheet" type="text/css" />
    <link href="../print.css" rel="stylesheet" type="text/css" media="print" />
    <!--[if lte IE 6]>
<link href="../styleie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
  </head>
  <body class="mainpage">
    <div id="container">
      <div id="bannerleft">
        <div id="bannerleftinfo"><a href="../index.html">Español 3349</a></div>
      </div>
      <div id="banneright"><img src="../images/headerright.gif" /></div>
      <div id="bannercenter"><img src="../images/bannerpictures.jpg" /></div>
      <div id="bannerhigh">
        <div id="bannerhighleft"></div>
        <div id="bannerhighright">Programa de Español 3349</div>
      </div>
      <div id="wrapper">
        <div id="menu">
          <ul>
            <li><a href="descripcion.html">Descripción</a></li>
            <!-- <li><a href="templates/programa.html">Programa</a></li>-->
            <li><a href="programa.html">Sílabos</a></li>
            <!--<li><a href="templates/capitulos.html">Capítulos</a></li>-->
            <li><a href="composiciones.html">Objetivos</a></li>
            <li><a href="capitulos.html">Recursos</a></li>
            <!--<li><a href="templates/composiciones.html">Composiciones</a></li>-->
          </ul>
          <div align="center"><img src="../images/imagecolumncol.jpg" /></div>
        </div>
        <div id="content">
          <h1>Sílabos cursos anteriores</h1>
          
          <!-- Para crear los links a los pdf:  -->
          <a href="pdf/nombre.pdf">Nombre del pdf</a>
         <!-- <table width="598" border="1">
            <tr>
              <td width="291" align="center" valign="top"><h1 align="center">Espa&ntilde;ol 3349<br />
                  <!-\-Spring 2016<br />
                      Programa de lecturas y tareas<br />
                      <font color="#000000">Clases que se re&uacute;nen<br />
                      </font><font color="#000000">los lunes y los mi&eacute;rcoles</font>-\->
                  <font color="#000000">Cursos anteriores<br />
                  </font>
                </h1>
                <!-\-<h2 class="centered">septiembre</h2>
                      <h2>mi&eacute;rcoles 3</h2>
                      <p>1.<a href="http://www.columbia.edu/cu/spanish/courses/spanish3349/templates/descripcion.html">Descripción del curso: requisitos, objetivos y evaluación</a></p>
<p>2. <a href="../introduccion/introduccion.html">Introducci&oacute;n: la historia</a></p>
                      <p>3. <a href="../introduccion/advertencia.html">Advertencia general sobre los materiales que se estudiar&aacute;n en este curso</a></p>
                      <p>&nbsp;</p>
                      <h2>lunes 8</h2>
                      <p><strong>1. Iberia  antes del siglo VIII</strong></p>
                      <p> Cap&iacute;tulo 1, <a href="http://www.columbia.edu/cu/spanish/courses/spanish3349/01hispania/contexto.html">Contexto histórico</a><a href="../01hispania/contexto.html"></a></p>
                   <h2>mi&eacute;rcoles 10</h2>
                      <p>Cap&iacute;tulo 1, <a href="http://www.columbia.edu/cu/spanish/courses/spanish3349/01hispania/lecturas.html">Lecturas</a>&nbsp;</p>
                      <p>&nbsp;</p>
                      <h2>lunes 15</h2>
                      <p>Cap&iacute;tulo 1, <a href="http://www.columbia.edu/cu/spanish/courses/spanish3349/01hispania/lecturas.html">Lecturas</a><a href="../01hispania/lecturas.html"></a></p>
                   <p><em>Entregar composici&oacute;n 1</em>                   </p>
                   <p><strong><em>Materiales didácticas del capítulo:  </em></strong><a href="http://spanish3349.wordpress.com/capitulo-1-iberia-antes-del-siglo-viii/"><strong><em>http://spanish3349.wordpress.com/capitulo-1-iberia-antes-del-siglo-viii/</em></strong></a><strong></strong></p>
                   <p>&nbsp;</p>
<h2>mi&eacute;rcoles 17</h2>
                      <p><strong>2. Al-Andalus y la hegemon&iacute;a musulmana en la Pen&iacute;nsula</strong></p>
                      <p> Cap&iacute;tulo 2, <a href="../02alandalus/contexto.html">Contexto hist&oacute;rico</a></p>
                      <p>&nbsp;                      </p>
                      <h2>lunes 22</h2>
                      <p> Cap&iacute;tulo 2, <a href="../02alandalus/lecturas.html">Lecturas</a></p>
                      <h2>mi&eacute;rcoles 24</h2>
                      <p> Cap&iacute;tulo 2,<a href="../02alandalus/lecturas.html"> Lecturas</a></p>
                   <p><em>Entregar composici&oacute;n 2</em>                   </p>
                   <p>&nbsp;</p>
                   <h2>lunes 29</h2>
                   <p><strong>**PRIMER EXAMEN</strong>**</p>
                   <p><strong><em>Materiales didácticas del capítulo: </em></strong><a href="http://spanish3349.wordpress.com/capitulo-2-la-hegemonia-musulmana-en-iberia-siglos-viii-xii/"><strong><em>http://spanish3349.wordpress.com/capitulo-2-la-hegemonia-musulmana-en-iberia-siglos-viii-xii/</em></strong></a></p>
<p>&nbsp;</p>
                      <h2 class="centered">octubre</h2>
                   <h2>mi&eacute;rcoles 1</h2>
<p><strong>3.</strong> <strong>La hegemon&iacute;a cristiana en la Pen&iacute;nsula</strong></p>
                      <p> Cap&iacute;tulo 3, <a href="../03edadmedia/contexto.html">Contexto hist&oacute;rico</a>                      </p>
                      <p>&nbsp;</p>
                      <h2>lunes 6</h2>
                      <p>Cap&iacute;tulo 3, <a href="../03edadmedia/lecturas.html">Lecturas</a></p>
                      <h2>mi&eacute;rcoles 8</h2>
                      <p>Cap&iacute;tulo 3, <a href="../03edadmedia/lecturas.html">Lecturas</a>                      </p>
                      <p>&nbsp;</p>
                      <h2>lunes 13</h2>
                      <p>Cap&iacute;tulo 3, <a href="../03edadmedia/lecturas.html">Lecturas</a></p>
                      <p><em>Entregar composici&oacute;n 3</em></p>
                      <p><strong><em>Materiales didácticas del capítulo: </em></strong><a href="http://spanish3349.wordpress.com/capitulo-3-la-hegemonia-cristiana-en-la-peninsula-siglos-xiii-xv/"><strong><em>http://spanish3349.wordpress.com/capitulo-3-la-hegemonia-cristiana-en-la-peninsula-siglos-xiii-xv/</em></strong></a><strong></strong></p>
<h2>&nbsp;</h2>
<h2>mi&eacute;rcoles 15</h2>
                      <p><strong>4. Culturas amerindias: mayas, mexicas, incas</strong></p>
                      <p> Cap&iacute;tulo 4, <a href="../04precolombinas/contexto.html">Contexto hist&oacute;rico</a></p>
                      <p>&nbsp;</p>
                      <h2>lunes 20</h2>
                      <p>Cap&iacute;tulo 4, <a href="../04precolombinas/lecturas.html">Lecturas</a></p>
                      <h2>mi&eacute;rcoles 22</h2>
                   <p>Cap&iacute;tulo 4, <a href="../04precolombinas/lecturas.html">Lecturas</a></p>
                   <p><em>Entregar composici&oacute;n 4</em></p>
                   <p><strong><em>Materiales didácticas del capítulo: </em></strong><a href="http://spanish3349.wordpress.com/capitulo-4-culturas-amerindias-mayas-mexicas-incas/"><strong><em>http://spanish3349.wordpress.com/capitulo-4-culturas-amerindias-mayas-mexicas-incas/</em></strong></a></p>
                   <p>&nbsp;</p>
                   <h2>lunes 27</h2>
                   <p><strong>5. Conquista y colonizaci&oacute;n</strong></p>
<p> Cap&iacute;tulo 5, <a href="http://www.columbia.edu/cu/spanish/courses/spanish3349/05conquista/contexto.html">Contexto histórico</a><a href="../05conquista/contexto.html"></a></p>
<h2>miércoles 29</h2>
<p>Cap&iacute;tulo 5, <a href="http://www.columbia.edu/cu/spanish/courses/spanish3349/05conquista/lecturas.html">Lecturas</a><a href="../05conquista/lecturas.html"></a></p>
<p>&nbsp;</p>
<h2 class="centered">noviembre</h2>
<h2>lunes 3</h2>
                      <p>Capítulo 5, <a href="http://www.columbia.edu/cu/spanish/courses/spanish3349/05conquista/lecturas.html">Lecturas</a>                   </p>
                   <h2>mi&eacute;rcoles 5</h2>
                      <p>Capítulo 5, <a href="http://www.columbia.edu/cu/spanish/courses/spanish3349/05conquista/lecturas.html">Lecturas</a><br />
                      <em> Entregar composición 5</em></p>
<h2 class="centered">&nbsp;</h2>
                      <h2>lunes  10</h2>
                      <p><strong>**SEGUNDO EXAMEN**</strong>                      </p>
                      <p><strong><em>Materiales didácticas del capítulo: </em></strong><a href="http://spanish3349.wordpress.com/capitulo-5-conquista-y-colonizacion/"><strong><em>http://spanish3349.wordpress.com/capitulo-5-conquista-y-colonizacion/</em></strong></a></p>
                      <p>&nbsp;</p>
                <h2>mi&eacute;rcoles 12</h2>
                      <p><strong>6. El auge de un imperio global (siglo XVI)</strong> <br />
                      </p>
                      <p>Capítulo 6 <a href="http://www.columbia.edu/cu/spanish/courses/spanish3349/06augeimperio/contexto.html">Contexto histórico</a></p>
<p>&nbsp;</p>
                      <h2>lunes 17</h2>
                      <p>Capítulo 6 <a href="http://www.columbia.edu/cu/spanish/courses/spanish3349/06augeimperio/lecturas.html">Lecturas</a>                      </p>
                   <h2>mi&eacute;rcoles 19</h2>
                      <p>Capítulo 6 <a href="http://www.columbia.edu/cu/spanish/courses/spanish3349/06augeimperio/lecturas.html">Lecturas</a></p>
<p>&nbsp;</p>
                      <h2>lunes 24</h2>
                      <p>Capítulo 6 <a href="http://www.columbia.edu/cu/spanish/courses/spanish3349/06augeimperio/lecturas.html">Lecturas</a></p>
<p><em>Entregar composici&oacute;n 6</em></p>
<p><strong><em>Materiales didácticas del capítulo: </em></strong><a href="http://spanish3349.wordpress.com/capitulo-6-el-auge-de-un-imperio-global-siglo-xvi/"><strong><em>http://spanish3349.wordpress.com/capitulo-6-el-auge-de-un-imperio-global-siglo-xvi/</em></strong></a></p>
<p>&nbsp;</p>
<h2><strong>miércoles 26</strong><br />
                   </h2>
                   <p><strong>7. El Imperio en crisis (siglo XVII)</strong> <br />
                     </p>
                   <p>Capítulo 7 <a href="http://www.columbia.edu/cu/spanish/courses/spanish3349/07crisisimperio/contexto.html">Contexto histórico</a></p>
                   <p>&nbsp;</p>
                   <h2 class="centered"><strong> diciembre</strong></h2>
                   <h2><strong>lunes 1</strong><br />
                     </h2>
                   <p>Capítulo 7 <a href="http://www.columbia.edu/cu/spanish/courses/spanish3349/07crisisimperio/lecturas.html">Lecturas</a><br />
                     </p>
                   <h2><strong>miércoles 3</strong><br />
                     </h2>
                   <p>Capítulo 7 <a href="http://www.columbia.edu/cu/spanish/courses/spanish3349/07crisisimperio/lecturas.html">Lecturas</a></p>
                   <p><strong>&nbsp;</strong><strong><em>Materiales didácticas del capítulo: </em></strong><a href="http://spanish3349.wordpress.com/capitulo-7-el-imperio-en-crisis-siglo-xvii/"><strong><em>http://spanish3349.wordpress.com/capitulo-7-el-imperio-en-crisis-siglo-xvii/</em></strong></a><strong></strong></p>
                   <p>&nbsp;</p>
                   <h2><strong>lunes 8</strong><br />
                   </h2>
                   <p>Capítulo 7 <a href="http://www.columbia.edu/cu/spanish/courses/spanish3349/07crisisimperio/lecturas.html">Lecturas</a><br />
                   </p>
                   <p>Último día de clases<br />
                   </p>
                   <p><em>Entregar composición 7</em> <br />
              </p>
              <p><strong>**TERCER EXAMEN**</strong></p>-\-></td>
              <td width="291" valign="top"><h1 align="center">Espa&ntilde;ol 3349<br /> Spring
                  2016<br /> Programa de lecturas y tareas<br />
                 <!-\- <font color="#000000">Clases que se re&uacute;nen<br />
                  </font><font color="#000000">los martes y los jueves</font></h1>
                <h2 class="centered">septiembre</h2>
                <h2>martes 2</h2>-\->
                <p>1. <a href="descripcion.html">Descripci&oacute;n del curso: requisitos, objetivos
                    y evaluaci&oacute;n</a></p>
                <p>2. <a href="../introduccion/introduccion.html">Introducci&oacute;n: la
                    historia</a></p>
                <p>3. <a href="../introduccion/advertencia.html">Advertencia general sobre los
                    materiales que se estudiar&aacute;n en este curso</a></p>
                <p>&nbsp;</p>
                <h2>jueves 4</h2>
                <p><strong>1. Iberia antes del siglo VIII</strong></p>
                <p> Cap&iacute;tulo 1, <a href="../01hispania/contexto.html">Contexto
                    hist&oacute;rico</a></p>
                <p>&nbsp;</p>
                <h2>martes 9</h2>
                <p>Cap&iacute;tulo 1, <a href="../01hispania/lecturas.html">Lecturas</a></p>
                <h2>jueves 11</h2>
                <p>Cap&iacute;tulo 1, <a href="../01hispania/lecturas.html">Lecturas</a></p>
                <p><em>Entregar composici&oacute;n 1</em></p>
                <p><strong><em>Materiales didácticas del capítulo:  </em></strong><a
                    href="http://spanish3349.wordpress.com/capitulo-1-iberia-antes-del-siglo-viii/"
                        ><strong><em>http://spanish3349.wordpress.com/capitulo-1-iberia-antes-del-siglo-viii/</em></strong></a></p>
                <h2>martes 16</h2>
                <p><strong>2. Al-Andalus y la hegemon&iacute;a musulmana en la
                    Pen&iacute;nsula</strong></p>
                <p> Cap&iacute;tulo 2, <a href="../02alandalus/contexto.html">Contexto
                    hist&oacute;rico</a></p>
                <h2>jueves 18</h2>
                <p>Cap&iacute;tulo 2,<a href="../02alandalus/lecturas.html"> Lecturas</a></p>
                <p>&nbsp;</p>
                <h2>martes 23</h2>
                <p>Cap&iacute;tulo 2, <a href="../02alandalus/lecturas.html">Lecturas</a></p>
                <p><em>Entregar composici&oacute;n 2</em></p>
                <p></p>
                <h2>jueves 25</h2>
                <p><strong>**PRIMER EXAMEN</strong>**</p>
                <p><strong><em>Materiales didácticas del capítulo: </em></strong><a
                    href="http://spanish3349.wordpress.com/capitulo-2-la-hegemonia-musulmana-en-iberia-siglos-viii-xii/"
                        ><strong><em>http://spanish3349.wordpress.com/capitulo-2-la-hegemonia-musulmana-en-iberia-siglos-viii-xii/</em></strong></a><strong></strong></p>
                <p>&nbsp;</p>
                <h2></h2>
                <h2>martes 30</h2>
                <p><strong>3.</strong>
                  <strong>La hegemon&iacute;a cristiana en la Pen&iacute;nsula</strong></p>
                <p> Cap&iacute;tulo 3, <a href="../03edadmedia/contexto.html">Contexto
                    hist&oacute;rico</a></p>
                <p>&nbsp;</p>
                <h2 class="centered">octubre</h2>
                <h2>jueves 2</h2>
                <p>Cap&iacute;tulo 3, <a href="../03edadmedia/lecturas.html">Lecturas</a></p>
                <p>&nbsp;</p>
                <h2>martes 7</h2>
                <p>Cap&iacute;tulo 3, <a href="../03edadmedia/lecturas.html">Lecturas</a></p>
                <h2>jueves 9</h2>
                <p>Cap&iacute;tulo 3, <a href="../03edadmedia/lecturas.html">Lecturas</a></p>
                <p><em>Entregar composici&oacute;n 3</em></p>
                <p><strong><em>Materiales didácticas del capítulo: </em></strong><a
                    href="http://spanish3349.wordpress.com/capitulo-3-la-hegemonia-cristiana-en-la-peninsula-siglos-xiii-xv/"
                        ><strong><em>http://spanish3349.wordpress.com/capitulo-3-la-hegemonia-cristiana-en-la-peninsula-siglos-xiii-xv/</em></strong></a><strong></strong></p>
                <p>&nbsp;</p>
                <h2>martes 14</h2>
                <p><strong>4. Culturas amerindias: mayas, mexicas, incas</strong></p>
                <p> Cap&iacute;tulo 4, <a href="../04precolombinas/contexto.html">Contexto
                    hist&oacute;rico</a></p>
                <h2>jueves 16</h2>
                <p>Cap&iacute;tulo 4, <a href="../04precolombinas/lecturas.html">Lecturas</a></p>
                <p>&nbsp;</p>
                <h2>martes 21</h2>
                <p>Cap&iacute;tulo 4, <a href="../04precolombinas/lecturas.html">Lecturas</a></p>
                <p><em>Entregar composici&oacute;n 4</em></p>
                <p><strong><em>Materiales didácticas del capítulo: </em></strong><a
                    href="http://spanish3349.wordpress.com/capitulo-4-culturas-amerindias-mayas-mexicas-incas/"
                        ><strong><em>http://spanish3349.wordpress.com/capitulo-4-culturas-amerindias-mayas-mexicas-incas/</em></strong></a><strong></strong></p>
                <h2>jueves 23</h2>
                <p><strong>5. Conquista y colonizaci&oacute;n</strong></p>
                <p> Cap&iacute;tulo 5, <a href="../05conquista/contexto.html">Contexto
                    hist&oacute;rico</a></p>
                <h2>&nbsp;</h2>
                <h2>martes 28</h2>
                <p>Cap&iacute;tulo 5, <a href="../05conquista/lecturas.html">Lecturas</a>
                </p>
                <h2>jueves 30</h2>
                <p>Cap&iacute;tulo 5, <a href="../05conquista/lecturas.html">Lecturas</a></p>
                <p>&nbsp;</p>
                <h2 class="centered">noviembre</h2>
                <h2>martes 4</h2>
                <p>Capítulo 5, <a
                    href="http://www.columbia.edu/cu/spanish/courses/spanish3349/05conquista/lecturas.html"
                    >Lecturas</a><br />
                </p>
                <p><em>Entregar composición 5</em></p>
                <h2>jueves 6</h2>
                <p><strong class="centered">**SEGUNDO EXAMEN**</strong></p>
                <p><strong><em>Materiales didácticas del capítulo: </em></strong><a
                    href="http://spanish3349.wordpress.com/capitulo-5-conquista-y-colonizacion/"
                        ><strong><em>http://spanish3349.wordpress.com/capitulo-5-conquista-y-colonizacion/</em></strong></a><strong></strong></p>
                <p>&nbsp;</p>
                <h2>martes 11</h2>
                <p><strong>6. El auge de un imperio global (siglo XVI)</strong></p>
                <p> Cap&iacute;tulo 6 <a href="../06augeimperio/contexto.html">Contexto
                    hist&oacute;rico</a></p>
                <h2><strong>jueves 13</strong></h2>
                <p>Cap&iacute;tulo 6 <a href="../06augeimperio/lecturas.html">Lecturas</a></p>
                <p>&nbsp;</p>
                <h2>martes 18</h2>
                <p>Cap&iacute;tulo 6 <a href="../06augeimperio/lecturas.html">Lecturas</a></p>
                <p><em>Entregar composici&oacute;n 6</em></p>
                <h2>jueves 20</h2>
                <p>Capítulo 6 <a
                    href="http://www.columbia.edu/cu/spanish/courses/spanish3349/06augeimperio/lecturas.html"
                    >Lecturas</a><br />
                </p>
                <p><em>Entregar composición 6</em></p>
                <p><strong><em>Materiales didácticas del capítulo: </em></strong><a
                    href="http://spanish3349.wordpress.com/capitulo-6-el-auge-de-un-imperio-global-siglo-xvi/"
                        ><strong><em>http://spanish3349.wordpress.com/capitulo-6-el-auge-de-un-imperio-global-siglo-xvi/</em></strong></a><strong></strong></p>
                <p>&nbsp;</p>
                <h2>martes 25</h2>
                <p><strong>7. El Imperio en crisis (siglo XVII)</strong></p>
                <p> Cap&iacute;tulo 7 <a href="../07crisisimperio/contexto.html">Contexto
                    hist&oacute;rico</a></p>
                <h2>jueves 28</h2>
                <p>Cap&iacute;tulo 7 <a href="../07crisisimperio/lecturas.html">Lecturas</a></p>
                <p>&nbsp; </p>
                <h2 class="centered">diciembre</h2>
                <h2>martes 2</h2>
                <p>Cap&iacute;tulo 7 <a href="../07crisisimperio/lecturas.html">Lecturas</a></p>
                <p><strong>&nbsp;</strong><strong><em>Materiales didácticas del capítulo:
                    </em></strong><a
                    href="http://spanish3349.wordpress.com/capitulo-7-el-imperio-en-crisis-siglo-xvii/"
                        ><strong><em>http://spanish3349.wordpress.com/capitulo-7-el-imperio-en-crisis-siglo-xvii/</em></strong></a>
                </p>
                <p>&nbsp;</p>
                <h2>jueves 4</h2>
                <p>Capítulo 7 <a
                    href="http://www.columbia.edu/cu/spanish/courses/spanish3349/07crisisimperio/lecturas.html"
                    >Lecturas</a><br />
                </p>
                <p>Último día de clases<br />
                </p>
                <p><em>Entregar composición 7</em>
                  <br />
                </p>
                <p><strong>**TERCER EXAMEN**</strong></p></td>
            </tr>
          </table>-->
        </div>
        <br class="clearit" />
      </div>
      <div id="footer"><div id="footerleft"><a href="../index.html">Español 3349</a></div>
        <div id="footerright">Programa de Español 3349</div>
      </div>
    </div>
  </body>
</html>
